/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

 .expand-click,
 .expand-click2
 {
     text-decoration: dashed;
     cursor: pointer;
 }

 .clickable{
     border-bottom: 1px dashed gray;
 }

 .d-none{
     display:none;
 }

 .pl-5{
     padding-left:2rem;
 }

 .mr-3 {margin-right: 1rem !important; }
 .ml-3 {margin-left: 1rem !important;}

 .green-text{
    color:green;
 }

.btn.disabled, .btn:disabled {
    opacity: .65;
    pointer-events: none;
}

.inspan > span, .inspan.active span.enable{
    display: none;
}

.inspan span.enable{
    display: inline;
}

.inspan.active span.disable{
    display: inline;
}

.activated-text .dashicons{
    line-height:30px;
}

.file-mapping-container {
   padding-left: 10px;
}

.purified-result-item {
   padding-left: 10px;
   padding-top: 10px;
   padding-bottom: 10px;
   border-bottom: 1px solid lightgray
}

.purified-result-item:first-of-type {
   border-top: 1px solid lightgray
}
