/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.expand-click,
.expand-click2,
.expand-click3,
.dashed-pointer {
   text-decoration: dashed;
   cursor: pointer;
}

.clickable {
   border-bottom: 1px dashed gray;
}

.d-none {
   display: none;
}

.pl-5 {
   padding-left: 2rem;
}

.mr-3 {
   margin-right: 1rem !important;
}

.ml-3 {
   margin-left: 1rem !important;
}

.green-text {
   color: green;
}

.btn.disabled, .btn:disabled {
   opacity: .65;
   pointer-events: none;
}

.inspan > span, .inspan.active span.enable {
   display: none;
}

.inspan span.enable {
   display: inline;
}

.inspan.active span.disable {
   display: inline;
}

.activated-text .dashicons {
   line-height: 30px;
}

.file-mapping-container {
   padding-left: 10px;
}

.purified-result-item {
   padding-left: 10px;
   padding-top: 10px;
   padding-bottom: 10px;
   border-bottom: 1px solid lightgray
}

.purified-result-item:first-of-type {
   border-top: 1px solid lightgray
}

#wp-admin-bar-purifycss-runsingle .ab-item span{
   display: inline-block;
   border: none;
   border-radius: 3px;
   margin-bottom: 10px;
   padding: 2px 10px
}
#wp-admin-bar-purifycss-runsingle .ab-item span:hover {
   color: white;
   border-color: white;
}

table.jobStatus {
   font-size: 16px;
}
table.jobStatus td.url {
   width: 400px;
   max-width: 400px;

}
table.jobStatus .ellipsis {
   width: 100%;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
}

table.details {
   font-size: 11px;
   line-height: 0.9;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
   from {
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
   }
   to {
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
   }
}
@keyframes rotating {
   from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
   }
   to {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
   }
}
.rotate {
   -webkit-animation: rotating 1s linear infinite;
   -moz-animation: rotating 1s linear infinite;
   -ms-animation: rotating 1s linear infinite;
   -o-animation: rotating 1s linear infinite;
   animation: rotating 1s linear infinite;
}

.text-center {
   text-align:center;
}
.text-right {
   text-align: right;
}
